certifi==2022.12.7
chardet==4.0.0
charset-normalizer==2.0.12
colorama==0.4.6
contourpy==1.0.7
cycler==0.10.0
et-xmlfile==1.1.0
fonttools==4.39.4
geojson==3.0.1
idna==2.10
importlib-resources==5.12.0
kiwisolver==1.4.4
matplotlib==3.7.1
numpy==1.24.2
oauthlib==3.2.2
opencv-contrib-python==4.5.4.60
packaging==23.1
Pillow==9.5.0
pyparsing==2.4.7
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2022.7.1
PyYAML==6.0
requests==2.26.0
requests-auth==6.0.0
requests-toolbelt==1.0.0
roboflow==1.0.9
roboflowoak==0.0.8
shapely==2.0.1
six==1.16.0
tqdm==4.65.0
urllib3==1.26.14
watchdog==2.3.0
wget==3.2
zipp==3.15.0
